:root {
  --blue: #3498db;
  --green: #2ecc71;
  --purple: #a889ff;
  --purple-dark: #8e59ff;
  --red: #e74c3c;
  --background: #f4f4f4;
  --text: #333;
}

html {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/* Metas */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  padding: 32px 0;
}

.exibir-pontuacao {
  background-color: var(--purple);
  color: var(--text);
  padding: 10px;
  border-radius: 6px;
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.container-atividade {
  margin-bottom: 20px;
}

.container-atividade,
.container-estatisticas {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-estatisticas {
  margin-top: 20px;
}

.grade-estatisticas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.cartao-estatistica {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.trofeu {
  font-size: 3rem;
  color: gold;
  animation: pular 1s infinite;
  display: none;
}

.trofeu.mostrar {
  display: inline-block;
}

@keyframes pular {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.retorno {
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.retorno.sucesso,
.retorno.erro {
  color: white;
  opacity: 1;
}

.retorno.sucesso {
  background-color: var(--green);
}

.retorno.erro {
  background-color: var(--red);
}

.opcoes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#conteudoAtividade p {
  margin-top: 20px;
}

.botao {
  background-color: var(--purple);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 20px;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: bold;
}

.botao:hover {
  background-color: var(--purple-dark);
  transform: translateY(-2px);
}

.config-meta {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.conteudo-config-meta {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

#entradaMeta {
  height: 36px;
  padding: 12px 0 12px 6px;
  outline: none;
  border: 1px solid var(--text);
  border-radius: 6px;
  font-size: 0.875rem;
  margin-top: 20px;
}

/* Jogo Memoria */
.jogo-memoria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 40px auto;
}

.carta-memoria {
  aspect-ratio: 1;
  background-color: var(--purple);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carta-memoria.virada {
  background-color: white;
  color: var(--text);
  transform: rotateY(180deg);
}

.carta-memoria.combinada {
  background-color: var(--green);
  color: white;
  cursor: default;
}

.palavras-embaralhadas,
.jogo-matematica,
.jogo-digitacao {
  text-align: center;
  padding: 20px;
}

.palavras-embaralhadas p,
.jogo-matematica h3,
.jogo-digitacao p {
  margin-bottom: 10px;
}

.palavras-embaralhadas input,
button,
.jogo-matematica input,
button {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #111;
}

.palavras-embaralhadas button,
.jogo-matematica button,
.jogo-digitacao button {
  cursor: pointer;
  background-color: var(--purple);
}

.palavras-embaralhadas button:hover,
.jogo-matematica button:hover,
.jogo-digitacao button:hover {
  background-color: var(--purple-dark);
  transition: 0.4s;
}

.jogo-digitacao-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.jogo-digitacao-flex textarea {
  padding: 6px;
  border-radius: 6px;
}

.jogo-digitacao-flex button {
  padding: 13px;
}

@media (max-width: 480px) {
  .header {
    padding: 20px;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
}
